<!DOCTYPE html>
<html lang="en">
 
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Contact</title>
 
 
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="static/css/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">About Us<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">SSIT Tumkur</h3>
      </div>
 <div class="container">
      <div class="jumbotron">
      <img    style = " margin:-20px 5px 10px 5px"src="static/brainlogo2.svg" alt="BTMIC Logo" width="150" height="150">
      <span>
        <h2 class="display-10">Brain Tumour MRI Image Classification</h2>
        
      </span>
</div>
<div class="row container">       
  <div class="card card-body col" style="width: 9rem;">
    <h5 class="card-title">Shreekanth B K</h5>
    <p class="card-text">USN: 16CS099<br/>
       CSE 'B'section<br/>
      SSIT,Tumkur<br/>
    </p>
  </div>     
  <div class="card  col" style="width: 7rem;">
    <h5 class="card-title">Thejas N M</h5>
    <p class="card-text">USN: 16CS114<br/>
       CSE 'B'section<br/>
      SSIT,Tumkur<br/>
    </p>
  </div>
  <div class="card card-body col" style="width: 8rem;">
    <h5 class="card-title">Sagar M R</h5>
    <p class="card-text">USN: 16CS085<br/>
       CSE 'B'section<br/>
      SSIT,Tumkur<br/>
    </p>
  </div>
  <div class="row">       
  <div class="card card-body col" style="width: 10rem;">
    <h5 class="card-title">Narendra S G</h5>
    <p class="card-text">USN: 16CS409<br/>
       CSE 'A'section<br/>
      SSIT,Tumkur<br/>
    </p>
  </div>
</div><br/>

      <hr/>
      <div class="row marketing ">
        <div class="col-sm ">
          <h4>Tools used:</h4>
          <p>Python  v3.7</p>
          <p>HTML5 and CSS3</p>
          <p>Bootstrap</p>
          <p>Javascript</p>
        </div>
        <div class="col-sm">
          <h5>Python Libs:</h5>
          <p>Flask  v2.0</p>
          <p>Jinja2  v2.11.2</p>
          <p>numpy v1.18.1</p>
          <p>matplotlib v3.2.0</p>
          <p>Tensorflow v2.2.0</p>
        </div>
      </div>

    </div> 

     </body>
 
    
</html>